<mat-card class="card-label">
  <p class="form-label form-value">GET COORDINATE DETAILS OF CITIES HERE</p>
  <form
    [formGroup]="coordinatesForm"
    (ngSubmit)="onSubmit()"
    class="form-label"
  >
    <mat-form-field>
      <mat-label class="form-field form-msg">Search City Name:</mat-label>
      <input
        matInput (keyup)="onKeyUp($event)"
        placeholder="Enter the city name"
        formControlName="cityName"
      />
      <mat-error *ngIf="formValue.cityName.errors?.required">
        City Name is required
      </mat-error>
    </mat-form-field>
    <div class="form-label">
      <button
        mat-raised-button
        disabled
        class="form-group btn btn-primary"
        [disabled]="!coordinatesForm.valid || submitted"
      >
        Submit
      </button>
    </div>
  </form>
</mat-card>
<div  [hidden]="!loading">
  <mat-progress-spinner class="progress-margin" [mode]="'indeterminate'"> </mat-progress-spinner>
</div>
<div
  *ngIf="getData && coordinatesForm.valid && !disableCoord"
  class="form-label"
>
  <mat-list role="list">
    <mat-list-item role="listitem" class="coord-label"
      >Latitude : {{ getData.lat }}</mat-list-item
    >
    <mat-list-item role="listitem" class="coord-label"
      >Longitude: {{ getData.lng }}</mat-list-item
    >
  </mat-list>
</div>
