.form-label{
 text-align: center;
}
.form-value{
color:burlywood;
}
.form-field{
    padding-right: 5px;
}
.form-group{
    margin: 15px;
}
.coord-label{
    color: blueviolet;
    font-size: x-large;
}
.error-msg{
    color:red;
}
